@media screen and (max-width:1601px) {
  .index-wrap-4::before {
  width:94%}
.footer-bottom-star {
  right:0%;
  top:1%}
}
@media screen and (max-width:1537px) {
  .index-wrap-4::before {
  width:96%}
.review-item .author-detail h6 {
  font-size:14px}
.review-item .author-detail p {
  font-size:11px}
.review-item .review-author-link {
  padding:4px 4px 4px 18px;
  font-size:12px}
.review-item .review-author-link .span-2 {
  width:30px;
  height:30px;
  margin-left:5px}
.review-item .author-detail-one::before {
  right:0px}
.index-wrap-9 {
  margin:-13% 0% -11%}
}
@media screen and (max-width:1441px) {
  .index-wrap-3 {
  padding:8rem 0rem 4rem}
.index-wrap-4::before {
  width:100%}
}
@media screen and (max-width:1367px) {
  header .header-top-bar .social-links-ul li a {
  width:23px;
  height:23px;
  font-size:12px}
header .header-top-number-ul li a {
  font-size:12px}
.header-dektop-logo {
  max-width:50%}
header .header-bottom-bar .desktop-header-links li a {
  font-size:14px}
header .header-top-bar {
  padding:9px 28px 11px}
header .header-bottom-bar {
  padding-top:15px}
.index-wrap-1 .index-banner-sub-heading {
  padding:9px 24px;
  font-size:14px}
.index-wrap-1 h1 {
  font-size:35px;
  padding:15px 0px 8px}
p.p-head {
  font-size:15px;
  line-height:25px;
  padding-bottom:20px}
.index-wrap-1 {
  padding:9rem 0rem 0rem}
.section2 .container-box .get-started {
  font-size:20px}
.span-tag-border {
  padding:8px 20px;
  font-size:14px}
h2 {
  font-size:35px}
p {
  font-size:14px}
.index-wrap-2 h2 {
  padding:12px 0px 12px}
.index-wrap-2 .platforms {
  padding:18px 0px 22px}
.btn,button {
  padding:5px 5px 5px 22px;
  font-size:14px}
.btn .span-2 {
  width:35px;
  height:35px;
  margin-left:8px}
.index-wrap-2 {
  padding:70px 0px 170px}
.index-wrap-counter {
  margin:-7% 0% -4%}
.counter-wrap h5 {
  font-size:35px}
.counter-wrap p {
  font-size:15px}
.index-wrap-3 {
  padding:7rem 0rem 4rem}
.services-item .services-item-icon {
  width:85px;
  height:85px}
.services-item .services-item-content h5 {
  font-size:18px;
  padding-bottom:10px}
.services-item .services-item-content {
  margin:15px 0px 15px;
  height:115px;
  overflow-y:scroll}
.services-item .services-item-cta {
  font-size:16px}
.services-item {
  padding:30px 20px 25px 30px;
  margin-bottom:25px}
.span-tag-border-yellow {
  padding:9px 22px;
  font-size:14px}
.index-wrap-4 h2 {
  font-size:28px;
  padding:20px 0px 18px}
.index-wrap-4 p {
  padding-bottom:15px}
.index-wrap-4-cta-circle {
  width:450px;
  height:450px}
.index-wrap-4::before {
  width:90%}
.process-item .process-item-img {
  height:220px;
  border-radius:15px}
.process-item-content h6 {
  font-size:18px;
  padding:14px 0px 10px}
.portfolio-item {
  height:300px}
.index-wrap-7-star {
  top:174px;
  max-width:17%}
.review-item .review-content-p p {
  line-height:25px}
.review-item .review-content-p {
  height:100px}
.index-wrap-8 .accordion-list h3 {
  font-size:16px}
.index-wrap-8 {
  padding:60px 0px 200px}
.custom-main-col-footer-margin {
  margin:10px 0px 30px}
.service-content-ul li::before {
  width:17px;
  height:15px}
.contact-wrap-2-detail h5::before {
  width:10px;
  height:16px}
.storybox-img-main::before {
  left:-10px}
.submenu-link {
  font-size:11px!important}
}
@media screen and (max-width:1180px) {
  .index-wrap-1 h1 {
  font-size:30px;
  padding:15px 0px 8px}
p.p-head {
  font-size:15px;
  line-height:25px}
.index-wrap-4 h2 {
  font-size:22px;
  padding:15px 0px 14px}
.btn,button {
  padding:4px 4px 4px 18px;
  font-size:12px}
.btn .span-2 {
  width:30px;
  height:30px;
  margin-left:6px}
.index-wrap-4 p {
  padding-bottom:5px}
.index-wrap-4-cta-circle {
  width:420px;
  height:420px}
.index-wrap-4::before {
  width:92%}
h2 {
  font-size:30px}
.process-item-content h6 {
  font-size:16px;
  padding:11px 0px 7px}
.process-item-content {
  height:135px}
.process-item .process-item-img {
  height:200px}
.index-wrap-6 {
  padding:70px 0px 70px}
.index-wrap-6 .tabs li {
  padding:8px 26px;
  font-size:12px}
.portfolio-item img {
  width:110px}
.portfolio-item {
  height:250px;
  border-radius:12px}
.review-item .review-profile-name .review-profile {
  width:70px;
  height:70px;
  margin-right:10px}
.review-item .review-profile-name .review-name h6 {
  font-size:16px}
.review-item .review-profile-name .review-name p {
  font-size:12px}
p {
  font-size:13px}
.review-item .review-content-p p {
  line-height:22px}
.review-item .review-content-p {
  height:90px;
  margin:8px 0px 20px}
.review-item .author-detail p {
  font-size:9px}
.review-item .author-detail h6 {
  font-size:12px;
  padding-bottom:7px;
  margin-bottom:6px}
.review-item .author-detail h6::before {
  width:64px}
.review-item {
  padding:25px 24px 25px 30px;
  border-radius:30px}
.partners-ul {
  padding:22px 0px;
  gap:60px}
.index-wrap-8 .accordion-list h3 {
  font-size:14px}
.index-wrap-8 .accordion-list li {
  padding:24px 24px;
  margin-bottom:18px}
.footer-cta-custom-margin {
  margin-top:20px}
.footer-cta button {
  width:170px;
  height:170px}
.footer-list-item h4 {
  font-size:16px}
.footer-list-item ul li a {
  font-size:12px}
.footer-list-item ul {
  margin-top:10px;
  line-height:28px}
.copyright-div {
  padding:15px 30px;
  border-radius:22px 22px 0px 0px}
.service-content-ul li::before {
  width:16px;
  height:13px}
}
@media screen and (max-width:1024px) {
  .index-wrap-4::before {
  width:97%}
}
@media screen and (max-width:995px) {
  .index-wrap-1 {
  padding:11rem 0rem 0rem}
.section2 {
  padding:0 0 20px;
  padding-top:40px}
.index-wrap-2 {
  padding:40px 0px 120px}
.counter-wrap h5 {
  font-size:25px}
.counter-wrap p {
  font-size:12px}
.counter-wrap {
  padding:25px 30px 25px}
.section2 .container-box .circle {
  width:220px;
  height:220px}
.index-wrap-6 .tabs li {
  padding:7px 21px;
  font-size:10px}
.span-tag-border-yellow {
  padding:7px 19px;
  font-size:12px}
.portfolio-item {
  height:200px;
  border-radius:10px}
.portfolio-item img {
  width:90px}
.review-item .author-detail-one::before {
  right:40px}
.slick-dots {
  bottom:-50px}
.index-wrap-8 .accordion-list h3 {
  font-size:12px}
h2 {
  font-size:25px}
p {
  font-size:12px}
.footer-list-item h4::before {
  right:0;
  margin:0 auto}
.index-wrap-8 {
  padding:60px 0px 110px}
footer {
  padding:9rem 0rem 0rem}
.service-content-ul li::before {
  width:14px;
  height:10px}
}
@media screen and (max-width:576px) {
  .header-dektop-logo {
  max-width:100%}
.index-wrap-1 .index-banner-sub-heading {
  padding:7px 22px;
  font-size:12px}
.index-wrap-1 h1 {
  font-size:25px}
p.p-head {
  font-size:13px;
  line-height:20px}
.index-wrap-1 {
  padding:10rem 0rem 0rem}
.span-tag-border {
  padding:6px 18px;
  font-size:12px}
.counter-wrap p {
  font-size:10px}
.index-wrap-counter {
  margin:-20% 0% 0%}
.services-item .services-item-content {
  height:105px}
.index-wrap-4::before {
  width:100%;
  border-radius:unset}
.index-wrap-4 h2 {
  font-size:20px}
.cta-item-img-3 {
  display:none}
.index-wrap-5 {
  padding:3rem 0rem 6rem}
.process-item-content {
  height:90px}
.index-wrap-6 ul.tabs {
  padding:30px 0px 30px;
  flex-wrap:wrap;
  gap:13px}
.review-item .author-detail-one::before {
  right:25px}
.partners-wrap {
  margin-top:70px}
.partners-ul {
  padding:12px 0px;
  gap:18px}
.index-wrap-7 {
  padding:50px 0px 40px}
.footer-cta {
  padding:35px 40px 40px}
.footer-cta button {
  width:150px;
  height:150px}
footer {
  padding:6rem 0rem 0rem}
.index-wrap-9 {
  margin:-25% 0% -11%}
.index-wrap-3 {
  padding:3rem 0rem 4rem}
.process-row-padding-top {
  padding-top:30px}
.index-wrap-8 .accordion-list li {
  padding:18px 17px;
  margin-bottom:12px}
.index-wrap-8 {
  padding:40px 0px 110px}
.storybox-img-main::before {
  left:-5px;
  width:30px;
  border-radius:10px;
  height:70%}
}
